* {
  box-sizing: border-box;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    justify-content: center;
}

body {
  font-family: 'Righteous', cursive;
  font-size: 18px;
  line-height: 34px;
  color: #030301;
}

.main-container {
  background: transparent;
  color: #030301;
  /* border: 2px; */
  border-color: #f8f9fa;
  /* margin-top: 7vh; */
  margin-bottom: 7vh;
  
}

.page-header {
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-family: 'Righteous', cursive;  
  border-bottom: 3px solid #030301;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.middle-page-header {
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-family: 'Righteous', cursive;  
  border-bottom: 3px solid white;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.my-title {
  font-size: 4rem;
  color: #FF4500 !important;
}

p {
  display:inline-block;
  width:70%;
  vertical-align:middle;
  padding-left: 5%;
}

.portfolio {
  /* margin: 1rem; */
  width: 100vw;
}

.portfolio-box {
  position: relative;
  display: block;
}

.row {
  width: 100%;
}

.port-img {
  /* margin: 2rem !important; */
  background: teal;
}

.btn {
  margin-bottom: 1rem;
}

.navbar {
  background-color: transparent !important;
  box-shadow: #f8f9fa;
  height: 10vh;
  padding-top:10%;
}

.nav-link {
  color: #AFD0BF;
}

.about-me {
  text-align: center;
}

.about-me-text {
  display: inline-block;
}

.masterhead {
  background: url("./images/portfolio-background.jpg") no-repeat center center fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

img {
    display:inline-block;
    padding-right:0%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;

}

/* .losange, .losange div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
}
.losange {
  transform: rotate(45deg) translateY(10px);
  
}
.losange .los1 {
  width: 355px;
  height: 355px;
  transform: rotate(-45deg) translateY(-74px);
}
.losange .los1 img {
  width: auto;
  height: 100%;
} */


.first-section {
  background: white;
}

.middle-section {
  background: #FF4500;
  color: white;
}

.last-section {
  background: white;
}

@media (min-width: 481px) and (max-width: 767px) {
  
  body {
    left: 0;
    width: 100vw;
  }
  
}

@media (min-width: 320px) and (max-width: 480px) {
  
  body {
    left: 0;
    width: 100vw;
  }
  
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/